* {
  position: relative;
  box-sizing: border-box; }

*::before, *::after {
  position: inherit;
  box-sizing: inherit; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #bdc1c6;
  background-color: black; }

.border__box {
  box-sizing: border-box; }

.container {
  width: 960px;
  margin: 0px auto;
  background-color: #1b1c1f; }

.row, .row .col__flag__equipo, .row .col__nomb__equipo, .row .col__marcador__equipo {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .row .col__flag__equipo {
    justify-content: center;
    width: 25%; }
  .row .col__nomb__equipo {
    justify-content: start;
    align-items: center;
    width: 50%; }
  .row .col__marcador__equipo {
    justify-content: center;
    width: 25%; }

.row__titulo {
  height: 50px;
  font-size: 14px;
  background-color: black; }

.row__match {
  background-color: #202124; }

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%; }

.col__match {
  align-items: stretch; }

.col__titulo {
  width: 100%;
  text-align: center; }

.match {
  margin: 10px 0;
  border: 0.5px solid #636465;
  height: 90px;
  width: 180px;
  border-radius: 10px;
  background-color: #202124;
  cursor: pointer; }
  .match:hover {
    border-color: red; }

.txtMarcador {
  border: 0px;
  width: 20px;
  text-align: center;
  color: black; }

.img__bandera {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 24px;
  height: 20px; }

.lineas__match {
  box-sizing: border-box;
  background-color: #636465;
  position: absolute;
  left: 115%;
  top: 60%;
  width: 1px;
  height: 45px; }

.lineas__match-b {
  height: 100px; }

.lineas__match-c {
  height: 210px; }

.lineas__match-abajo {
  top: -10px; }

.lineas__match-abajo-b {
  top: -65px;
  height: 100px; }

.lineas__match-abajo-c {
  top: -175px;
  height: 210px; }

.lineas__h__match {
  box-sizing: border-box;
  background-color: #636465;
  position: absolute;
  width: 20%;
  height: 1px;
  top: 50%;
  left: -20%; }

.lineas__h__match-b {
  left: -20%;
  width: 20%; }

.flecha__match {
  position: absolute;
  width: 30px;
  left: 101%;
  background-color: #1b1c1f;
  text-align: center;
  border-radius: 2px; }

.flechas__svg {
  width: 100%;
  height: 100%;
  fill: #bdc1c6; }
  .flechas__svg:hover {
    width: 35px; }
