* {
  position: relative;
  box-sizing: border-box; }

*::before, *::after {
  position: inherit;
  box-sizing: inherit; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #bdc1c6;
  background-color: black; }

.border__box {
  box-sizing: border-box; }

.container {
  width: 960px;
  margin: 0px auto;
  background-color: #1b1c1f; }

.row, .row .col__flag__equipo, .row .col__nomb__equipo, .row .col_marcador_equipo {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .row .col__flag__equipo {
    justify-content: center;
    width: 25%; }
  .row .col__nomb__equipo {
    justify-content: start;
    align-items: center;
    width: 50%; }
  .row .col_marcador_equipo {
    justify-content: center;
    width: 25%; }

.row__titulo {
  height: 50px;
  font-size: 14px;
  background-color: black; }

.row__match {
  background-color: #202124; }

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.col__titulo {
  width: 100%;
  text-align: center; }

.match {
  margin: 10px 0;
  border: 0.5px solid #636465;
  height: 90px;
  width: 180px;
  border-radius: 10px;
  background-color: #202124;
  cursor: pointer; }
  .match:hover {
    border-color: red; }

.lineas__match {
  box-sizing: border-box;
  background-color: #636465;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 65%;
  height: 1px; }

.lineas__match-b {
  left: -15%;
  width: 130%; }

.lineas__match-c {
  left: -15%;
  width: 60%; }

.txtMarcador {
  border: 0px;
  width: 20px;
  text-align: center;
  color: black; }

.img__bandera {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 24px;
  height: 20px; }
