
.txtMarcador{
    border: 0px;
    width: 20px;
    text-align: center;
    color: black;
}

.img__bandera {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 24px;
    height: 20px;
}



.lineas__match{
    box-sizing: border-box;
    background-color: $glb-color-lineas-match;
    //border: 1px solid #3c4043;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 1px;
}

.lineas__match-b{
    //left: -5%;
    width: 50%;
}

.lineas__match-c{
    //left: -15%;
    width: 50%;
}

.flecha__match{
    position: absolute;
    width: 30px;
    left: 101%;
    background-color: $glb-color-fondo-contenedor;
    text-align: center;
    border-radius: 2px;
}

.flechas__svg {
    width: 100%;
    height: 100%;
    fill: $glb-color-texto;
    &:hover {
        width: 35px;
    }
  }


