.container{
    width: 960px;
    margin: 0px auto;
    background-color: $glb-color-fondo-contenedor;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .col__flag__equipo{
        @extend .row;
        justify-content: center;
        width: 25%;
    }
    
    .col__nomb__equipo{
        @extend .row;
        justify-content: start;
        align-items: center;
        width: 50%;
    }
    
    .col__marcador__equipo{
        @extend .row;
        justify-content: center;
        width: 25%;
    }
}

.row__titulo{
    height: 50px;
    font-size: 14px;
    background-color: black;
}

.row__match{
    background-color: $glb-color-fondo-cajas-fila;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    //border: 1px solid;
}

.col__match{
    align-items:stretch;
}

.col__titulo{
    width: 100%;
    text-align: center;
}

.match{
    margin:10px 0;
    border: 0.5px solid $glb-color-borde-match;
    height: $glb-alto-caja-match;
    width: $glb-ancho-caja-match;
    border-radius: 10px;
    //position: relative;
    background-color: $glb-color-fondo-cajas;
    cursor: pointer;
    &:hover {
        border-color:red;
    }
}