
.txtMarcador{
    border: 0px;
    width: 20px;
    text-align: center;
    color: black;
}

.img__bandera {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 24px;
    height: 20px;
}
