* {
    position: relative;
    box-sizing: border-box;
    //z-index: 2;
}

*::before, *::after {
    position: inherit;
    box-sizing: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:$glb-color-texto;
    background-color: $glb-color-fondo-negro;
}

.border__box{
    box-sizing: border-box;
} 