$glb-alto-caja-match: 90px;
$glb-ancho-caja-match: 180px;
$glb-color-texto:#bdc1c6;
$glb-color-borde-match:#636465;
$glb-color-lineas-match:$glb-color-borde-match;
//$glb-color-borde-match:#c95d15;
$glb-color-fondo-contenedor:#1b1c1f;
$glb-color-fondo-cajas:#202124;
$glb-color-fondo-cajas-fila:#202124;
$glb-color-fondo-negro: black;



